@mixin skeleton-header-typography($header-color: $default-header-color, $header-font: $default-header-font,
        $h1-font-size: $default-h1-font-size, $h1-line-height: $default-h1-line-height,
        $h2-font-size: $default-h2-font-size, $h2-line-height: $default-h2-line-height,
        $h3-font-size: $default-h3-font-size, $h3-line-height: $default-h3-line-height,
        $h4-font-size: $default-h4-font-size, $h4-line-height: $default-h4-line-height,
        $h5-font-size: $default-h5-font-size, $h5-line-height: $default-h5-line-height,
        $h6-font-size: $default-h6-font-size, $h6-line-height: $default-h6-line-height,
        $subheader-color: $default-subheader-color) {

    h1, h2, h3, h4, h5, h6 {
        color: $header-color;
        font-family: $header-font;
        font-weight: normal; }
    h1 a, h2 a, h3 a, h4 a, h5 a, h6 a { font-weight: inherit; }
    h1 { font-size: $h1-font-size; line-height: $h1-line-height; margin-bottom: 14px;}
    h2 { font-size: $h2-font-size; line-height: $h2-line-height; margin-bottom: 10px; }
    h3 { font-size: $h3-font-size; line-height: $h3-line-height; margin-bottom: 8px; }
    h4 { font-size: $h4-font-size; line-height: $h4-line-height; margin-bottom: 4px; }
    h5 { font-size: $h5-font-size; line-height: $h5-line-height; }
    h6 { font-size: $h6-font-size; line-height: $h6-line-height; }
    .subheader { color: $subheader-color; }

}


@mixin skeleton-typography($lead-font-size: $default-lead-font-size, $lead-line-height: $default-lead-line-height, $lead-font-color: $default-lead-font-color,
        $strong-font-color: $default-strong-font-color, $blockquote-border-color: $default-blockquote-border-color, $blockquote-font-size: $default-blockquote-font-size, $blockquote-line-height: $default-blockquote-line-height,
        $blockquote-font-color: $default-blockquote-font-color, $blockquote-link-color: $default-blockquote-link-color, $cite-font-size: $default-cite-font-size, $cite-font-color: $default-cite-font-color,
        $link-color: $default-link-color, $link-hover-color: $default-link-hover-color, $link-text-decoration: $default-link-text-decoration, $link-hover-text-decoration: $default-link-hover-text-decoration) {

    p { margin: 0 0 20px 0; }
    p img { margin: 0; }
    p.lead { font-size: $lead-font-size; line-height: $lead-line-height; color: $lead-font-color;  }

    em { font-style: italic; }
    strong { font-weight: bold; color: $strong-font-color; }
    small { font-size: 80%; }

    /*  Blockquotes  */
    blockquote, blockquote p { font-size: $blockquote-font-size; line-height: $blockquote-line-height; color: $blockquote-font-color; font-style: italic; }
    blockquote { margin: 0 0 20px; padding: 9px 20px 0 19px; border-left: 1px solid $blockquote-border-color; }
    blockquote cite { display: block; font-size: $cite-font-size; color: $cite-font-color; }
    blockquote cite:before { content: "\2014 \0020"; }
    blockquote cite a, blockquote cite a:visited, blockquote cite a:visited { color: $blockquote-link-color; }

    hr { border: solid #ddd; border-width: 1px 0 0; clear: both; margin: 10px 0 30px; height: 0; }

    /*  Links  */
    a, a:visited { color: $link-color; text-decoration: $link-text-decoration; outline: 0; }
    a:hover { text-decoration: $link-hover-text-decoration; }
    a:hover, a:focus { color: $link-hover-color; }
    p a, p a:visited { line-height: inherit; }

    /*  Lists  */
    ul, ol { margin-bottom: 20px; }
    ul { list-style: none outside; }
    ol { list-style: decimal; }
    ol, ul.square, ul.circle, ul.disc { margin-left: 30px; }
    ul.square { list-style: square outside; }
    ul.circle { list-style: circle outside; }
    ul.disc { list-style: disc outside; }
    ul ul, ul ol,
    ol ol, ol ul { margin: 4px 0 5px 30px; font-size: 90%;  }
    ul ul li, ul ol li,
    ol ol li, ol ul li { margin-bottom: 6px; }
    li { line-height: 18px; margin-bottom: 12px; }
    ul.large li { line-height: 21px; }
    li p { line-height: 21px; }

    /*  Images  */
    img.scale-with-grid {
        max-width: 100%;
        height: auto; }
}
