{% load i18n %}

<!-- social-buttons -->
<div class="social-buttons">
    <!-- twitter-button -->
    <div class="twitter-button">
        <a href="https://twitter.com/share" class="twitter-share-button"
            data-count="none" data-related="kplaube"
            data-lang="pt">Tweetar</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    </div>
    <!-- end .twitter-button -->

    <!-- facebook-button -->
    <div class="facebook-button">
        <iframe src="http://www.facebook.com/plugins/like.php?href={{ request.build_absolute_uri }}&amp;send=false&amp;layout=button_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=21&amp;appId=262757647133878" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:21px;" allowTransparency="true"></iframe>
    </div>
    <!-- end .facebook-button -->

    <!-- gplus-button -->
    <div class="gplus-button">
        <div class="g-plusone" data-size="tall" data-annotation="none"></div>

        <script type="text/javascript">
          window.___gcfg = {lang: 'pt-BR'};

          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/plusone.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </div>
    <!-- end .gplus-button -->
</div>
<!-- end .social-buttons -->
