@import "compass/css3/transition";

/*  Elements  */
aside { padding-left: 20px; }


/*  Classes  */
.module {
    margin-bottom: 30px;

    li {
        border-bottom: 1px solid #e5e5e5;
        line-height: 36px;
        margin-bottom: 0;
        padding-left: 15px; 

        a {
            @include transition;
            display: block;
            
            &:hover {
                padding-left: 15px;
                text-decoration: none; }
        }
    }
}

.tagcloud {
    $tag-font-size: $default-font-size - 4;

    a {
        display: inline;
        font-size: $tag-font-size;
        &:hover {
            padding-left: 0;
            text-decoration: underline;
        }
    }
    @for $i from 2 through 20 {
        .tag-#{$i} { font-size: $tag-font-size + $i + 2; }
    }
}
