@import "compass/css3/border-radius";
@import "compass/css3/inline-block";
@import "compass/css3/text-shadow";
@import "compass/css3/transition";

/*  Header  */
#header {
    background: white;
    height: 180px;
    position: relative;
    text-transform: lowercase; }

#logo {
    font: 42px Georgia, "Times New Roman", Times;
    margin-left: 15px;

    a {
        @include text-shadow;
        color: #2d2722;
        &:hover { text-decoration: none; }
    }

    span {
        color: $default-link-color; }
}

/*  Primary nav  */
#menu {
    margin: 15px 0 25px 0;

    li { @include inline-block; } 

    a {
        @include text-shadow;
        @include transition(all .5s ease-out);
        color: #181818;
        display: block;
        font-size: 16px;
        line-height: 26px;
        padding: 1px 30px;

        &:hover {
            color: $default-link-color;
            text-decoration: none;
            text-shadow: none; }
    }

    .current a {
        @include border-radius;
        background: $default-link-color;
        color: white;
        text-shadow: none; }

}

/*  Search  */
#q_id { 
    @extend input[type="email"];
    -webkit-appearance: initial;
}

#quick-search {
    position: absolute;
    right: 15px;
    top: 87px;

    input {
        @include inline-block;
        margin-bottom: 0; }
}
.oldie #quick-search { width: 290px; }
