#changelist .checkbox-col { 
    text-align: center;
    width: 20px;
}

#changelist .folder-col {
    text-align: center;
    width: 120px;
}

#changelist .delete-col {
    text-align: center;
    width: 45px;
}

#changelist table img { width: 100px; }
