{% extends "base.html" %}
{% load i18n comments core_extras %}

{% block site_title %}{{ entry.title|escape }}{% endblock %}
{% block meta_description %}{{ entry.body|striptags|truncatewords:20 }}{% endblock %}
{% block meta_keywords %}{{ entry.tags }}{% endblock %}
{% block meta_robots %}index,follow{% endblock %}

{% block scripts %}
    {{ block.super }}

    <script>
        require([
            "my/entry",
            "dojo/domReady!"
        ], function(entry) {
            entry.init(); 
        });
    </script>
{% endblock %}

{% block content_class %}post-detail{% endblock %}
{% block content_extras %}itemscope itemtype="http://schema.org/Blog"{% endblock %}

{% block content %}
    <article class="post">
        {% include "diario/includes/header.html" %}

        <div class="complete">{{ entry.body|full_content|safe }}</div>

        <footer class="meta">
            {% include "social_buttons.html" %}

            <p>
            {% blocktrans with author=entry.author.first_name raw_pub_date=entry.pub_date|date:"Y-m-d\TH:i:s" pub_date=entry.pub_date|date:"d \d\e F \d\e Y" %}
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">Por <a href="https://plus.google.com/108477812956538794254?rel=author" title="Perfil no Google+" itemprop="name">{{ author }}</a></span>
                em <time datetime="{{ raw_pub_date }}" itemprop="datePublished">{{ pub_date }}</time>.
            {% endblocktrans %}
            </p>
        </footer>
    </article>

    {% if entry.enable_comments %}
        {% get_comment_count for entry as comment_count %}
        <section id="comments">
            <h3 class="title">
                {% if comment_count %}
                    {% blocktrans %}{{ comment_count }} comentários. <a href="#respond" title="Deixe um comentários" itemprop="discussionUrl">Deixe o seu!</a>{% endblocktrans %}
                {% else %}
                    {% blocktrans %}Nenhum comentário. <a href="#respond" title="Deixe um comentário" itemprop="discussionUrl">Seja o primeiro!</a>{% endblocktrans %}
                {% endif %}
            </h3>

            {% render_comment_list for entry %}
        </section>

        <section id="respond">
            <h3 class="title">{% trans "Deixe o seu comentário" %}</h3>

            {% with entry.get_absolute_url as next %}
                {% render_comment_form for entry %}
            {% endwith %}
        </section>
    {% endif %}

{% endblock %}
