{% load i18n %}

<p>{% trans "Blog" %} | 
    <time datetime="{{ result.object.pub_date|date:"Y-m-d\TH:i:s" }}" itemprop="datePublished">{{ result.object.pub_date|date:"d \d\e F \d\e Y" }}</time>
</p>

<h3 class="title">
    <a href="{{ result.object.get_absolute_url }}" title="{% trans "Veja completo" %}" itemprop="name">{{ result.object.title }}</a>
</h3>
