{% extends "base.html" %}
{% load i18n core_extras %}

{% block site_title %}{% trans "Portfolio" %}{% endblock %}
{% block meta_robots %}noindex,follow{% endblock %}

{% block content_class %}portfolio{% endblock %}

{% block content %}

{% for job in object_list %}
    <article class="job" itemscope itemtype="http://schema.org/CreativeWork">
        {% include "portfolio/includes/header.html" %}

        {% if job.thumbnail %}
            <div class="thumbnail">
                <a href="{{ job.get_absolute_url }}" title="{{ job.description|escape }}">
                    <img src="{{ job.thumbnail.url }}" alt="{% trans "Preview do website" %}" itemprop="thumbnailUrl">
                </a>
            </div>
        {% endif %}

        <div class="summary" itemprop="description">{{ job.details|readmore|safe }}</div>

        {% include "portfolio/includes/footer.html" with readmore=1 %}
    </article>
{% endfor %}

{% endblock %}
